
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-outline {
  transition: 0.3s;
  background-color: rgba(34, 119, 119, 0);
  border: 2px solid rgb(40, 182, 192);
  border-radius: 10px;
  color: white;
}

.button-outline:hover {
  background-color: rgba(32, 171, 171, 0.275);
}

.button-hover {
  transition: 0.3s;
  border-radius: 10px;
  background-color: rgb(33, 120, 120);
}

.button-hover:hover{
  background-color: rgb(34, 76, 76);
}

.link-hover{
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  border-radius: 10px;
}

.link-hover:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.bg-image{
  background-image: url(/hector-j-rivas-1FxMET2U5dU-unsplash.jpg);
  background-size: cover;
  background-position: center;
  z-index: 100;
}

.hero-content{
  background-color: rgba(5, 14, 27, 0.648);
  backdrop-filter: blur(4px);
}

.contact-form{
  background-image: linear-gradient(100deg, rgb(15, 36, 68), rgba(11, 57, 65, 0.461));
}